<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="hotel" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="title-hotel">
        <h1>
          {{hotel.nombre}}
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container #swiper [pagination]="true" [zoom]="true">
          <swiper-slide *ngFor="let foto of hotel.fotos">
            <div class="swiper-zoom-container">
              <img [src]="foto" alt="{{ hotel.nombre }}" />
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-row>
        <p>{{hotel.descripcion}}</p>
      </ion-row>
    </ion-col>
    <ion-row>
      <ion-col>
        <p class="precio-noche">Precio por noche desde: <br /> $<strong>{{hotel.precio}}</strong></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  expand="full" color="secondary" (click)="irAMapaHotel(hotel)">Ver en el mapa</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Dirección: {{hotel.direccion}}, Concordia, Entre Ríos</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="traslados-container">
          <p class="traslados">¿Necesitas traslado desde el Aeropuerto o Terminal de ómnibus?</p>
          <p>Costo desde Aeropuerto: <strong>${{this.costoAeropuerto}}</strong></p>
          <p>Costo desde Terminal de ómnibus: <strong>${{this.costoTerminal}}</strong></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>Por consultas o reservas, comunicarse al teléfono Nº {{hotel.telefono}}</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <p *ngIf="hotel">Es el hotel {{hotel.descripcion}} </p> -->

</ion-content>