<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-button class="botonCerrarSesion" slot="end" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-placeholder">
    <img [src]="imageSrc" alt="Imagen de perfil" />
      <input type="file" (change)="onFileChange($event)"/>
  </div>
  <form class="formularioDatos" [formGroup]="formDatos">
    <ion-input label="Nombre: " labelPlacement="floating" formControlName="nombre" type="text"></ion-input>
    <ion-input label="Apellido: " labelPlacement="floating" formControlName="apellido" type="text"></ion-input>
    <ion-input label="DNI: " labelPlacement="floating" formControlName="dni" type="text"></ion-input>
    <div class="boton-centrado">
      <ion-button *ngIf="!modificar" type="submit" (click)="habilitarModificar()">Modificar</ion-button>
      <ion-button *ngIf="modificar" type="submit" (click)="guardarCambios()">Guardar cambios</ion-button>
    </div>
  </form>
</ion-content>