ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotoPerfil {
    margin-bottom: 50px;
    text-align: center;
}

.boton-centrado {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.separacionBotones{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

