<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot='end' text="Atrás">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-back-button>
    <ion-title>
      Nuevo hotel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' [fullscreen]="true">


  <div>
    <form [formGroup]="formNuevoHotel" (ngSubmit)="onSubmit()">

      <ion-input label="Nombre: " labelPlacement="floating" formControlName="nombre"></ion-input>
      <ion-input label="Direccion: " labelPlacement="floating" formControlName="direccion"></ion-input>
      <ion-textarea label="Descripción: " labelPlacement="floating" formControlName="descripcion"></ion-textarea>
      <ion-input label="Precio por noche: " labelPlacement="floating" formControlName="precio"></ion-input>
      <ion-input label="Teléfono de contacto: " labelPlacement="floating" formControlName="telefono"></ion-input>
      <input type="file" (change)="onFileSelected($event)" multiple />
      
      <ion-button expand="block" (click)="irAMapa()">Abrir mapa</ion-button>
      <ion-button [disabled]="formNuevoHotel.invalid" class="botonRegistro" id="open-loading" type="submit"
        [disabled]="formNuevoHotel.invalid">Registrar</ion-button>
      <!-- <ion-button *ngIf="!coordenadasListas" class="botonRegistro" id="open-mapa" type="button">Abrir mapa</ion-button> -->
      <ion-loading class="custom-loading" trigger="open-mapa" message="Cargando mapa, aguarde un momento."
        duration="1000" spinner="lines-sharp" didDismiss="true"></ion-loading>

    </form>


  </div>

</ion-content>